GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAILS=anmol12sdh@gmail.com

# From Vercel dashboard: Storage -> Postgres -> .env.local tab
POSTGRES_URL=

# From Vercel dashboard: Storage -> Blob -> .env.local tab
BLOB_READ_WRITE_TOKEN=
